# vim: set ft=sh

# Readings:
#   - http://www.12factor.net
#   - http://www.12factor.net/config
#   - http://www.12factor.net/backing-services

# ===================================================

export WEBAPP_DEPLOY_ROOT="$HOME"

export WEBAPP_DEBUG=True
export WEBAPP_TEMPLATE_DEBUG=True

export WEBAPP_GUNICORN_HOST="localhost"
export WEBAPP_GUNICORN_PORT1=8931
export WEBAPP_GUNICORN_PORT2=8932
export WEBAPP_GUNICORN_PORT3=8933
export WEBAPP_GUNICORN_PORT4=8934

export WEBAPP_MAIN_DOMAIN="myproject.localhost.tld"

export WEBAPP_DB_HOST=localhost
export WEBAPP_DB_NAME=myproject_dev
export WEBAPP_DB_USER=myproject
export WEBAPP_DB_PASS='change-this-pAs$w0rD5z'

export WEBAPP_SECRET_KEY='y0u&need**to%^change#$thi$$0th@t-+h15-w1ll-r3m@in-53cr3+'

export WEBAPP_TIME_ZONE="UTC"

export WEBAPP_MEDIA_ROOT="$WEBAPP_DEPLOY_ROOT/www/$WEBAPP_MAIN_DOMAIN/uploads/"
export WEBAPP_MEDIA_URL_DOMAIN="uploads.myproject.localhost.tld"
export WEBAPP_MEDIA_URL_PATH="/media/"

export WEBAPP_STATIC_ROOT="$WEBAPP_DEPLOY_ROOT/www/$WEBAPP_MAIN_DOMAIN/static/"
export WEBAPP_STATIC_URL_DOMAIN="assets.myproject.localhost.tld"
export WEBAPP_STATIC_URL_PATH="/static/"

